<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Lists employee</div>
  <!-- Table -->
  <div class="panel-body">
    <a routerLink="/employee-create" class="btn btn-sm btn-primary">Create</a>
    <input type="text" class="form-control-static" name="keyword" [(ngModel)]="keyword" [ngStyle]="{'text-indent.px':10}" placeholder="Enter keyword" (keyup.enter)="searching()">
    <button class="btn btn-sm btn-warning" (click)="searching()">Search</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Create time</th>
        <th>Update time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employeeList">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.address}}</td>
        <td>{{item.createdAt | date:'short'}}</td>
        <td>{{item.updatedAt | date:'short'}}</td>
        <td>
          <a [routerLink]="['/employee-detail',item.id]" class="btn btn-sm btn-default">Show</a>
          <a [routerLink]="['/employee-edit',item.id]" class="btn btn-sm btn-success">Edit</a>
          <button (click)="delete(item.id)" class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of pages"><a [routerLink]="['/employee']" [queryParams]="{page:page}">{{page}}</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
