<!--The whole content below can be removed with the new code.-->
<div class="container">
<!--<app-home></app-home>
    <hr>
    <app-stuctural></app-stuctural>
    <hr>
    <app-attribute></app-attribute>-->
      <!--<h1>
        Project demo data {{title}}
      </h1>
      <p>Well come {{fullname}}</p>
      <div *ngFor="let item of data">
          <p>Name: {{item.name}} | Age: {{item.age}}</p>
          <img [src]="item.avatar.url" alt="{{item.name}}">
      </div>-->
    <!--<button (click)="change()">Change</button>
    <hr>
    <app-input [images]="avatarUrl" [round]="check_round"></app-input>-->
    <!--<app-output [check]="true"></app-output>-->
    <!--<app-input [fullname]="fullname"></app-input>-->
    <!--<app-output [images]="avatarUrl" (radius)="switchChange($event)"></app-output>-->
    <!--<app-output [img_url]="avatarUrl" (tick)="radiusImg()"></app-output>-->
    <!--<app-viewchild></app-viewchild>-->
    <!--<h3>{{title | uppercase }}</h3>
    <p>Hom nay la {{today | date:'short'}}</p>-->
    <!--<app-form></app-form>-->
   <!-- <app-form></app-form>-->
    <div class="container">
        <section>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" routerLink="">Project</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li routerLinkActive="active">
                                <a routerLink="">Home</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="employee">Employee</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="login">Login</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="contact">Contact</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="cart">Cart</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </section>
        <br>
        <router-outlet></router-outlet>
        <br>
        <section>
            <div class="panel-footer">
                Grooo International SJC
            </div>
        </section>
    </div>
</div>